<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/javascript/loginForm.js" defer></script>
    <title><%= title %></title>
</head>
<body>
    <form class="login-form">
        <div class="info">
            <span><label for="username">Username:</label></span>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="info">
            <span><label for="password">Password:</label></span>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">Login</button>
    </form>
</body>
</html>