* {
    padding: 0;
    margin: 0;
    line-height: 1.5;
}

.hidden {
    display: none;
}

ul {
    list-style: none;
}

.blogs-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    outline: 1px solid red;
}

.blog {
    margin-top: 50px;
    /* outline: 1px solid blue; */
    padding: 30px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    gap: 10px;

    width: 60%;
}

.blog > .blog-content,
.blog > .comments {
    /* outline: 1px solid green; */
}

.blog-content {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50px minmax(100px, auto);
}

.info {
    border: 1px solid rgb(204, 204, 204);
}

.text {
    border-left: 1px solid rgb(204, 204, 204);
    border-right: 1px solid rgb(204, 204, 204);
    border-top: none;
    border-bottom: 1px solid rgb(204, 204, 204);
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 1.3rem;
}

.info > span {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.text {
    padding: 10px;
}

.comments-tab {
    /* border-radius: 10px; */
    border: 1px solid rgb(204, 204, 204);
    cursor: pointer;
    background-color: rgb(242, 242, 242);
}

.comments-container {
    border: 1px solid rgb(204, 204, 204);
    border-top: none;

    display: flex;
    flex-direction: column;

    min-height: 400px;
}

.comment {
    padding-left: 20px;
    display: flex;

    gap: 10px;
}
.comments-list {
    /* border: 1px solid blue; */
    /* flex: 1;
    overflow-y: auto; */
    height: 350px;
    
}

.add-comment {
    /* border: 1px solid red; */
    padding: 5px;
    flex-shrink: 0;
}

.add-comment input {
    width: 80%;
    height: 25px;

    padding: 5px;
}

.add-comment  button {
    height: 35px;
    width: 17%;

    background-color: rgb(5, 197, 5);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-comment  button:hover {
    background-color: white;
    color: black;
    border: 1px solid gray;
}
.down-arrow {
    width: 30px;
    height: 30px;
}

.tab-open, .tab-closed {
    height: 50px;
    cursor: pointer;
}

.tab-closed {
    display: none;
}

/* modal */

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 300px;
    width: 400px;
    padding: 30px;
}

.modal > form {
    display: flex;
    flex-direction: column;
}