* {
    padding: 0;
    margin: 0;
    line-height: 1.5;
}

ul {
    list-style: none;
}

.blogs-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    outline: 1px solid red;
}

.blog {
    margin-top: 50px;
    /* outline: 1px solid blue; */
    padding: 30px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    gap: 10px;

    width: 60%;
}

.blog > .blog-content,
.blog > .comments {
    /* outline: 1px solid green; */
}

.blog-content {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50px minmax(100px, auto);
}

.info {
    border: 1px solid rgb(204, 204, 204);
}

.text {
    border-left: 1px solid rgb(204, 204, 204);
    border-right: 1px solid rgb(204, 204, 204);
    border-top: none;
    border-bottom: 1px solid rgb(204, 204, 204);
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 1.3rem;
}

.info > span {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.text {
    padding: 10px;
}


.comments-tab {
    /* border-radius: 10px; */
    border: 1px solid rgb(204, 204, 204);
    cursor: pointer;
    background-color: rgb(242, 242, 242);
}

.comments-container {
    padding-left: 20px;
    border: 1px solid rgb(204, 204, 204);
    border-top: none;

    height: 250px;
    overflow: scroll;
}

.down-arrow {
    width: 30px;
    height: 30px;
}

.tab-open, .tab-closed {
    height: 50px;
    cursor: pointer;
}

.tab-open {

}

.tab-closed {
    display: none;
}

/* modal */

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 300px;
    width: 400px;
    padding: 30px;
}

.modal > form {
    display: flex;
    flex-direction: column;
}